header {background-color: rgb(104, 0, 0); color:white;}
footer {border: 1px solid black; background-color: plum; text-align: center;}
h1 {font-family: 'MedievalSharp', sans-serif; font-size: 60px; text-decoration: underline;}
h2 {text-decoration: underline; font-family: 'Bevan', sans-serif;}
